*{
    box-sizing:border-box;
}
*, html, body {
    margin: 0;
    padding: 0;
    font-family: Georgia;
}

body,html
{
    height:100%;
    width:100%;
}
main
{
    padding:0;
    margin:0;
    width:100%;
}

#wrapper1 {

}
.title
{
    font-family:"Broadway";
    color:rebeccapurple;
}
.anchor{
   font-family:"Broadway";
   font-size: 16px;
   border: 1px outset blue;
   background-color: Orange;
   height:200px;
   width:500px;
   cursor:pointer;
   color:rebeccapurple;
   text-decoration: none;
}
.anchor:hover{
   background-color: blue;
   color:white;
}
#nav{
        width: 100%;
        margin-left: 20px;
        margin-top: 15px;
}
nav ul li
{
    list-style: none;
    display:inline;
    margin-left:20px;
    margin-bottom:20px;

}

#centerImg {
    position:absolute;
    top:40%;
    padding: 0;
    width: 100%;
    height: 400px;
    z-index:-1;
    box-shadow:2px 2px 6px dimgray;
}

#timeh4 {
    position: absolute;
    top: 69%;
    left: 17%;
    text-align: center;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}