*{
    box-sizing:border-box;
}
*, html, body {
    margin: 0;
    padding: 0;
    font-family: Georgia;
}

body,html
{
    height:100%;
    width:100%;
    background-image: url("../img/parking_lot.jpg");
    background-size: cover;
}

#wrapper1 {
    margin-left: 15%;
    background-color:white;
    margin-right:15%;
    margin-bottom:0;
    height:100%;
}
.anchor{
   font-size:32px;
   font-family:"Comic Sans MS";
   border: 1px outset blue;
   background-color: lightBlue;
   height:200px;
   width:500px;
   cursor:pointer;
}
table{
	margin-left:10%;
	margin-right:10%;
    width: 80%;
}
.anchor:hover{
   background-color: blue;
   color:white;
}
#nav{
        width: 100%;
        font-size: 14px;
        margin-left: 20px;
        margin-top: 15px;
}
nav ul li
{
    list-style: none;
    display:inline;
    margin-left:20px;
    margin-bottom:20px;

}
table, th, td{
	border:solid 2px black;
}
.green{
	color:white;
	background-color:green;
}
.red{
	color:white;
	background-color:red;
}