<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Welcome!</h1>
<p th:text="'User Name: ' + ${user.first_name}" />
<p th:text="'Last Name: ' + ${user.last_name}" />
<p th:text="'Email: ' + ${user.email}" />
<p th:text="'Address: ' + ${user.address}" />
<p th:text="'Contact Number: ' + ${user.contact_number}" />
<p th:text="'User name: ' + ${user.username}" />
<p th:text="'Password: ' + ${user.password}" />

<a th:href="@{/}">Home Page</a>

</form>
</body>
</html>