<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/static/home.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/signIn.css}" type="text/css">
    <script type="text/javascript" th:src="@{/js/static/home.js}"></script>
</head>
<body>
<!--<li><a th:href="@{/signIn}" class="anchor"> LOGIN IN </a></li>-->

<!--<form th:action="@{/signInTag}" th:object="${signInTag}" action="#" method="post">-->
    <!--<form th:action="@{/user_table}" th:object="${newUser}" method="post">-->

    <div class="imgcontainer">
        <h1>Registration is successful!</h1>
        <img src="/img/img_avatar.png" alt="Avatar" class="avatar">
    </div>
    <div class="container">
        <label><b>first_name</b></label>
        <p th:text="'User Name: ' + ${user.first_name}" />

        <label><b>last_name</b></label>
        <p th:text="'Last Name: ' + ${user.last_name}" />

        <label><b>email</b></label>
        <p th:text="'Email: ' + ${user.email}" />

        <label><b>address</b></label>
        <p th:text="'Address: ' + ${user.address}" />

        <label><b>contact_number</b></label>
        <p th:text="'Contact Number: ' + ${user.contact_number}" />

        <label><b>Username</b></label>
        <p th:text="'User name: ' + ${user.username}" />

        <label><b>Password</b></label>
        <p th:text="'Password: ' + ${user.password}" />

    </div>

    <div class="container" style="background-color:#f1f1f1">
        <button type="button" class="cancelbtn" id="submission">
            <a th:href="@{/signIn}" class="anchor"> SIGN IN </a>
        </button>
    </div>

<!--</form>-->
</body>
</html>