<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/stalls.css}" type="text/css">
</head>
<body>

    <div id="wrapper1">
        <h1> Welcome to the Car Park Management System</h1><br>
        <nav id="nav">
            <ul>
                <li><a th:href="@{/}" class="anchor"> HOME </a></li>
                <li><a th:href="@{/signIn}" class="anchor"> LOGIN IN </a></li>
                <li><a th:href="@{/signUp}" class="anchor"> SIGN UP </a></li>
                <li><a th:href="@{/stalls}" class="anchor">RESERVATIONS</a>
            </ul>
        </nav>
        <table>
        <thead>
        <th>
        Stall Number
        </th>
        <th>
        Availability
        </th>
        <th>
        Reserved Until
        </th><!--
        <td>
        Reserve
        </td>-->
        </thead>
		<tr:block th:each="stall : ${stall}">
    <tr>
    	<td th:text="${stall.stallNumber}"></td>
        <td:block th:if="${stall.isAvailable()}">
            <td class="green">Available</td>
            <td style="padding: 0.5ex;">
                <a th:href="@{/reservation?stall=} + ${stall.stallNumber}">Reserve</a>
            </td>
        </td:block>
        <td:block th:unless="${stall.isAvailable()}">
            <td class="red">Unavailable</td>
            <td style="padding: 0.5ex;"
                th:text="${stall.getNextExpectedAvailable().toString()}">
            </td>
        </td:block>
    </tr>
		</tr:block>
    </table>
    </div>


</body>
</html>